<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>EarthDay</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
 
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="js/script.js">

      <script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js" ></script>
<!-- 加入ejs -->

<script type="text/javascript" src="js/ejs_production.js"></script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 

<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script> 

</head>

<body>
  
<nav class="navbar navbar-default navbar-fixed-top navbar-top">
  <div class="container">
    <div class="navbar-header"><a class="navbar-brand">EARTH</a></div>
    <div class="navbar-collapse collapse">
      <div class="nav navbar-nav navbar-right">
        <li><a href="#section_ask">引言 INTRO</a></li>
        <li><a href="#section_about">簡介 ABOUT</a></li>
        <li><a href="#section_story">故事 STORY</a></li>
        <li><a href="#section_future">未來 FUTURE</a></li>
      </div>
    </div>
  </div>
</nav>
<header class="jumbotron">
  <div class="container"></div>
  <h1 data-0="transform: translateY(-50px)" data-500="transform: translateY(100px)">GIVE BACK TO OUR PLANET</h1>
  <hr/>
  <h4>Earth Day 世界地球日 </h4>
</header>
<section id="section_ask">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 img" data-0="transform: translateX(-200px)" data-500="transform: translateY(0px)">     </div>
      <div class="col-sm-7" data-300="opacity: 0" data-500="opacity: 1">
        <h2>4/22 世界地球日<br><br>人們以不同的方式宣傳和實踐環境保護的觀念</br></h2>
      </div>
    </div>
  </div>
</section>
<section id="section_about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12" data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1">
        <h1>世界地球日</h1>
        <hr/>
      </div>
      <div class="col-md-4 col-sm-6"> 
        <div class="img_wrap" data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1"><img src="http://wallcook.com/wp-content/uploads/2014/04/Earth-Day-2014-photo-hd-.jpg" alt=""/></div>
        <h3 data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1">起源</h3>
        <p data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1">最初的地球日選擇在春分節氣，這一天在全世界的任何一個角落晝夜時長均相等，陽光可以同時照耀在南極點和北極點上，這代表了世界的平等，同時也象徵著人類要拋開彼此間的爭議和不同，和諧共存。</p>
      </div>
      <div class="col-md-4 col-sm-6"> 
        <div class="img_wrap" data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTrSUx7t9leZ1Hfb2wmvOExj-JuO4EFTyBElJhIT6Tc7Z_kyXAGkQ" alt=""/></div>
        <h3 data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1">發展</h3>
        <p data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1">現在人們普遍認為1970年4月22日在美國發生的第一屆地球日活動是世界上最早的大規模群眾性環境保護運動，這次運動催化了人類現代環境保護運動的發展，促進了已開發國家環境保護立法的進程，並且直接催生了1972年聯合國第一次人類環境會議。</p>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="img_wrap" data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1"><img src="http://i2.mirror.co.uk/incoming/article7780503.ece/ALTERNATES/s615b/Earth-Day-flag.jpg" alt=""/></div>
        <h3 data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1">地球之旗</h3>
        <p data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1">地球之旗的主要圖案是將阿波羅17號拍攝的「藍色彈珠」照片放置在深藍色的背景上，它是由約翰·麥克尼爾於1969年為首屆地球日活動設計的，現在這面旗幟是環境保護運動的象徵</p>
      </div>
    </div>
  </div>
</section>
<section id="section_story">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5" data-bottom-top="background-size: 150%; background-position: 0% 0%;" data-center="background-size: 100%; background-position: 50% 50%;">       </div>
      <div class="col-sm-7">
        <div class="col-sm-12">
          <h2>說到做到愛地球</h2>
          <hr/>
        </div>
        <div class="col-sm-12 features">
          <div class="row">
            <div class="col-sm-4" data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1"><i class="fa fa-exclamation-triangle"></i>
              <h4>禁用塑膠袋</h4>
            </div>
            <div class="col-sm-4" data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1"><i class="fa fa-arrow-circle-down"></i>
              <h4>減少碳排放</h4>
            </div>
            <div class="col-sm-4" data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1"><i class="fa fa-envira"></i>
              <h4>真實綠生活</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-12">      
          <p>冬天變熱、春雨不來，舉目是灰濛濛的霧霾。科學家告訴我們，再這樣下去：2048年會無魚可吃。2050年有2/3的北極熊可能因為北極冰雪融化而消失。2100年，每6個物種中就會有一種滅絕。<br><br>知道這麼多、也真實看到環境的惡化，該是行動的時候了。</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section_future">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h2>響應地球日</h2>
        <hr/>
      </div>
      <div class="col-sm-6"><img src="https://c1.staticflickr.com/1/636/33316598925_6f3eb0162b_b.jpg" alt="" data-bottom-top="filter: grayscale(100%)" data-center="filter: grayscale(0%)"/></div>
      <div class="col-sm-6 feature" data-bottom-top="transform: translateX(50px)" data-center="transform: translateX(0px)">
        <h3>變身都市農人 丹麥團隊幫你解決空間問題</h3>
        <p>Growroom的設計是為了讓都市人在生活日常裡感到幸福。它是一座小綠洲，一個讓人能在繁忙的都市環境裡『喘息』的空間。它讓我們能在城市中嗅聞芳草馨香、品嘗鮮蔬，重新與自然產生連結。</p>
        </div>
      <div class="col-sm-6 feature" data-bottom-top="transform: translateX(50px)" data-center="transform: translateX(0px)">
        <h3>太陽能帆布保鮮櫃 延長農產品壽命</h3>
        <p>開發中國家有45％的農作物在送達消費者之前就已經腐敗。農人不僅缺乏冷藏設備，更重要的，也沒有長期穩定的電力可供應。瓦帝卡計畫是藉由在帳棚般箱子上方安裝一片太陽能板驅動通風設備，緩慢地以每週約0.2公升的速度蒸發水分，營造適合保存作物的微氣候</p>
      
    </div>
  </div>
</section>
<footer class="jumbotron">
  <div class="container">
    <h2>有哪些響應地球日的方法呢?</h2>
    <div id="usernew">
        <%- include('form'); %>
    </div>
    <div id="userinfo">
        <%- include('persons'); %>
    </div>
    <!-- <input class="form-control" placeholder="Write Something"/> -->
    <hr/>
    <div id="userupdate"></div>
    <script src="js/script.js"></script>
    <!-- <button class="btn btn-default">發表</button> -->
  </div>
</footer>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
