<h3>Update</h3>
<div class='name'>NAME:</div> <input type="text" placeholder="<%= userinfo['firstname'] %>" id="firstname0"/><br />

<div class='name'>THOUGHT:</div> <input type="text" placeholder="<%= userinfo['occupation'] %>" id="occupation0"/><br />
<button class="btn-update" name=<%= userinfo['_id']%>>Update</button>
